/* Estilos generales para el login */
.contenedor-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000000; /* Fondo negro */
}

.fondo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px; /* Tamaño máximo para pantallas pequeñas */
  background-color: #a80037; /* Fondo color vino */
  border-radius: 15px;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3); /* Sombra para resaltar */
  box-sizing: border-box;
}

.textLogin {
  font-size: 28px;
  color: #ffffff; /* Texto blanco */
  margin-bottom: 30px;
  text-align: center;
}

/* Estilo para el input de email y password */
.imputEmail,
.imputPassword {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #a80037; /* Borde color vino fuerte */
  background-color: #000000; /* Fondo del input en negro */
  color: #ffffff; /* Texto blanco */
  font-size: 16px;
  box-sizing: border-box; /* Para que el padding no afecte el tamaño */
}

.imputEmail::placeholder,
.imputPassword::placeholder {
  color: #bbbbbb; /* Placeholder en gris claro */
}

.imputEmail:focus,
.imputPassword:focus {
  border-color: #a80037; /* Borde color vino al enfocar */
  box-shadow: 0 0 8px rgba(168, 0, 55, 0.5); /* Sombra al enfocar */
  outline: none;
}

/* Botón de inicio de sesión */
.btnLogin {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color:#000000; /* Fondo color vino */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.btnLogin:hover {
  background-color: #c00047; /* Cambia a un vino más claro al pasar el mouse */
}
